
<form action="/answer" class="text-center">
  <label for="question">Speak to your coach</label>
  <input type="text" class="form-control" id="question" name="query" placeholder="Ask a question?">
  <input class="btn btn-primary" type="submit" value="Go on!">
</form>


